<section class="content-wrapper main-content clear-fix" ng-init="init()">
    <form name="mForm" novalidate>
        <table>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Country</th>
                <th>Date</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="mountain in mountains | orderBy: 'name'">
                <td>{{ mountain.name }}</td>
                <td>{{ mountain.height }} m</td>
                <td>{{ mountain.country }}</td>
                <td>{{ mountain.date | date:'longDate' }}</td>
                <td><button ng-click="remove(mountain.id)">Delete</button></td>
            </tr>
            <tr class="loading" ng-show="loading">
                <td colspan="5">Loading data, please wait ...</td>
            </tr>
            <tr class="add">
                <td><input type="text" name="mName" ng-model="newMountain.name" size="30" placeholder="name of the mountain" required></td>
                <td><input type="text" name="mHeight" ng-model="newMountain.height" ng-pattern="/^[1-9][0-9]*$/" size="10" placeholder="height" required></td>
                <td><input type="text" name="mCountry" ng-model="newMountain.country" size="20" placeholder="country" required></td>
                <td><input type="date" name="mDate" ng-model="newMountain.date" min="1900-01-01" size="15" placeholder="date of ascend" required></td>
                <td><button ng-click="add(mForm)" ng-disabled="mForm.$invalid">Add</button></td>
            </tr>
        </table>

        <ul class="errors">
            <li ng-show="mForm.mName.$dirty && mForm.mName.$error.required">Please enter name for new mountain</li>
            <li ng-show="mForm.mHeight.$dirty && mForm.mHeight.$error.required">Please enter height of the mountain</li>
            <li ng-show="mForm.mHeight.$dirty && mForm.mHeight.$error.pattern">Height of the mountain should be a number greater than zero</li>
            <li ng-show="mForm.mCountry.$dirty && mForm.mCountry.$error.required">Please enter country for new mountain</li>
            <li ng-show="mForm.mDate.$dirty && mForm.mDate.$error.required">Please enter date for new mountain</li>
        </ul>
    </form>
</section>