body {
	font: 11pt/24px normal Arial, Helvetica, sans-serif;
}

.timeline {
	position: relative;
	color: #333;
	margin-left: 120px;
}

.anchor {
	position: absolute;
	top: 40px;
	bottom: 10px;
	left: 142px;
	width: 2px;
	background-color: #444;
	z-index: -6;
}

.record {
	position: relative;
	max-width: 600px;
	padding: 24px 0;
}

.record .anchor {
	top: calc(50% - 2px);
	left: 148px;
	width: 100px;
	height: 0px;
	border-bottom: 1px dotted #888;
	background: none;
}

.circle {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #222;
	background: repeating-linear-gradient(45deg, #DEDEDE, #DEDEDE 6px, #FFF 6px, #FFF 10px);
	z-index: 2;
}

.circleHovered {
	background: repeating-linear-gradient(-45deg, #71C6FF, #71C6FF 6px, #FFF 6px, #FFF 10px);
}

.record .label {
	position: absolute;
	display: inline-block;
	left: 260px;
	top: calc(50% - 13px);
	line-height: 24px;
	font: 11pt/24px normal Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.record .date {
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s;
	left: 10px;
	top: calc(50% - 13px);
	line-height: 24px;
	font: 8pt/24px normal Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #888;
}

.add {
	width: 40px;
	height: 40px;
	left: 121px;
	text-align: center;
	font: 19pt/40px normal Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.circle.add:hover {
	background: repeating-linear-gradient(-45deg, #BFCBA6, #BFCBA6 6px, #FFF 6px, #FFF 10px);
}

.newItemContainer {
	position: relative;
	transition: display 1s;
	left: 120px;
	margin-top: 16px;
	width: 260px;
	text-align: left;
	background: repeating-linear-gradient(-45deg, #F4F4F4, #F4F4F4 6px, #FFF 6px, #FFF 10px);
	border: 2px solid #222;
	padding: 10px 8px;
}

.newItemContainer input, .newItemContainer select {
	float: right;
	border: 1px solid #444;
	background: #FFF;
	padding: 4px;
	width: 160px;
}

.newItemContainer input.invalid, .newItemContainer select.invalid {
	border: 1px solid red;
}

.newItemContainer .formLabel {
	line-height: 30px;
}

.newItemContainer .formLine {
	margin: 0 4px;
	clear: both;
}

.newItemContainer .formError {
	color: red;
	font-size: 10pt;
	text-align: right;
}

.buttonHolder {
	width: 100%;
	position: relative;
	padding-top: 4px;
	clear: both;
	text-align: left;
}

.buttonHolder button {
	padding: 4px 8px;
}

.buttonHolder .cancel {
	position: relative;
	right: 0;
}

.buttonHolder .confirm {
	position: absolute;
	right: 4px;
}