.timeline {
	position: relative;
	color: #333;
	margin-left: 40px;
}

.anchor {
	position: absolute;
	top: 40px;
	bottom: 10px;
	left: 142px;
	width: 2px;
	background-color: #444;
	z-index: -6;
}

.record {
	position: relative;
	width: 400px;
	padding: 16px 0;
}

.record .anchor {
	top: calc(50% - 2px);
	left: 202px;
	width: 68px;
	height: 0px;
	border-bottom: 1px dotted #888;
	background: none;
}

.circle {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #222;
	background: repeating-linear-gradient(45deg, #DEDEDE, #DEDEDE 6px, #FFF 6px, #FFF 10px);
	z-index: 2;
}

.circle:hover {
	background: repeating-linear-gradient(-45deg, #71C6FF, #71C6FF 6px, #FFF 6px, #FFF 10px);
}

.label {
	position: absolute;
	display: inline-block;
	left: 292px;
	top: calc(50% - 13px);
	line-height: 24px;
	font: 11pt/24px normal Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.date {
	position: absolute;
	display: none;
	left: 10px;
	top: calc(50% - 13px);
	line-height: 24px;
	font: 11pt/24px normal Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #888;
}

.add {
	width: 40px;
	height: 40px;
	left: 121px;
	text-align: center;
	font: 19pt/40px normal Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.circle.add:hover {
	background: repeating-linear-gradient(-45deg, #BFCBA6, #BFCBA6 6px, #FFF 6px, #FFF 10px);
}